@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="grid-container">
        <div>
            eghjhfsfghgfs
         
        </div>
        <div>
            fsdfhasdlkjfhsdlkjh
        </div>
    </div>
    <style>
        /* Grid stying */
        grid-container > div{
            background:#eee;
            padding:1em;
        }
        grid-container > div:nth-child(odd){
            background:#ddd;
        }
    </style>
</div>
